.search_product_page {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.search_product_page .product-card {
    margin-bottom: 10px;
}

.search_product_page_no-data-container {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}