.size-33 {
    width: 33.3%;
    margin-top: 10px;
}

.size-66 {
    width: 66.6%;
    margin-top: 10px;
}

.size-50 {
    width: 50%;
    margin-top: 10px;
}

.size-100 {
    width: 100%;
    margin-top: 10px;
}

.github-picker {
    width: fit-content !important;
    margin-top: 5px;
}

.github-picker span {
    margin: 3px;
    border-radius: 3px;
}

.github-picker span div span div {
    border-radius: 3px;
}

.form-control-input {
    border-radius: 10px;
    border: 1px solid rgb(202,202,202);
    padding: 7px;
    font-size: 15px;
    width: 100%;
    margin-top: 4px;
    font-family: system-ui;
    outline: none;
}

.form-control-input:disabled {
    background-color: #efefef !important;
    color: black;
    opacity: 1;
}

.form-control:disabled {
    background-color: #efefef !important;
    color: black;
    opacity: 1;
}

.is-invalid-field {
    border: 1px solid red;
}

.form-control-input::placeholder {
    font-size: 15px;
}

.input-label {
    font-weight: bold;
    font-size: 16px;
}

.is-invalid-label {
    font-size: 15px;
    margin-left: 6px;
    color: red;
}