.product-details-page {
    display: flex;
    margin-top: 40px;
    background-color: white;
    border-radius: 20px;
}

.product-details-image-container {
    width: 50%;
}

.product-details-image {
    border-radius: 20px;
    width: 100%;
    vertical-align: top;
    aspect-ratio: 1 / 1;
}

.product-details-content-box {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 30px;
}

.product-details-price-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 20px;
}

.product-details-product-count-button {
    cursor: pointer;
    color: rgb(192,192,192);
    font-size: 35px;
}

.product-details-product-count-button:hover {
    color: #6A5ACD;
}

.product-details-product-count-input {
    width: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.product-details-buy-button {
    border-radius: 50px;
    padding: 9px 20px 12px;
    width: 100%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.product-details-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.product-details-name {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
}

.product-details-description {
    color: #757575;
    margin-bottom: 20px;
}

.product-details-price {
    font-weight: 600;
    font-size: 30px;
    position: relative;
}

.product-details-price-container::before {
    background-color: rgb(192,192,192);
    height: 1px;
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}