.admin-reports-data-box {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #6A5ACD;
    width: 50%;
    height: 360px;
    display: flex;
    flex-direction: column;
}

.admin-reports-data-box:first-child {
    margin-right: 20px;
}

.admin-reports-chart-area {
    margin-bottom: 20px;
    display: flex;
}

.admin-reports-data-box-title {
    color: #6A5ACD;
    font-size: 20px;
    margin-bottom: 10px;
}

.admin-reports-data-box-body {
    display: flex;
    flex-grow: 1;
    overflow-y: auto;
    flex-direction: column;
}

.admin-reports-client-card {
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    width: 100%;
    margin-bottom: 10px;
}

.admin-reports-data-box-chart {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #6A5ACD;
    width: 100%;
}

.admin-reports-box-header-filters {
    display: flex;
}

.dashboard-header-inline-input {
    padding: 0px 10px 0px 0px;
    margin-bottom: 10px;
}

.dashboard-header-inputs-box {
    display: flex;
    flex-grow: 1;
}

.dashboard-header-search-button {
    display: flex;
    padding: 10px;
    font-size: 17px;
    border: none;
    justify-content: center;
    align-items: center;
    background-color: #6A5ACD;
    color: white;
    border-radius: 10px;
    height: fit-content;
    align-self: end;
    margin-bottom: 10px;
    cursor: pointer;
}

#admin-dashboard-page-export .admin-reports-chart-area {
    display: block;
}

#admin-dashboard-page-export .admin-reports-data-box {
    width: 100%;
    margin-bottom: 20px;
    height: fit-content;
}

.admin-reports-data-page-title {
    color: #6A5ACD;
    font-size: 30px;
    margin-bottom: 10px;
}

#admin-dashboard-page-export .admin-reports-client-card {
    border: 1px solid #6A5ACD;
}